
.list-item {
    margin: 10px;
    background: yellowgreen;
    width: 200px;
    height: 30px;
  }

  .list-item.moving {
    background: transparent;
    color: transparent;
    border: 1px dashed #ccc;
  }