.adasd {
  .x-table {
    width: 100%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;

    .x-thead {
      display: table;
      table-layout: fixed;
      width: 100%;

      .x-tr {
        display: table-row;

        .x-th {
          box-sizing: border-box;
          display: table-cell;
          vertical-align: middle;
          border-right: 1px solid #000;
          border-bottom: 1px solid #000;
        }
      }
    }

    .x-tbody {
      display: table;
      table-layout: fixed;
      width: 100%;

      .x-tr {
        display: table-row;

        .x-td {
          box-sizing: border-box;
          display: table-cell;
          vertical-align: middle;
          border-right: 1px solid #000;
          border-bottom: 1px solid #000;
        }
      }
    }

  }

}