.divider {
  background: red;
  width: 100vw;
  height: 1px;
}


.case-1 {
  display: grid;
  width: 300px;
  height: 300px;
  border: 1px solid greenyellow;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;

  .item {
    padding: 10px;
    border: 1px solid aqua;
  }
}

.case-2 {
  display: grid;
  width: 300px;
  height: 300px;
  border: 1px solid greenyellow;
  // repeat 第一个参数是重复的次数  第二个参数是重复的数值
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  .item {
    padding: 10px;
    border: 1px solid aqua;
  }
}

.case-3 {
  display: grid;
  width: 300px;
  height: 300px;
  border: 1px solid greenyellow;
  grid-template-columns: repeat(2, 100px 20px 80px);

  .item {
    padding: 10px;
    border: 1px solid aqua;
  }
}

.case-4 {
  display: grid;
  width: 300px;
  height: 300px;
  border: 1px solid greenyellow;
  grid-template-columns: repeat(auto-fill, 130px);

  .item {
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid aqua;
  }
}

.case-5 {
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns: 1fr 2fr;

  .item {
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid aqua;
  }
}

.case-6 {
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns:120px 1fr 2fr;

  .item {
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid aqua;
  }
}

.case-7 {
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns: 1fr 1fr minmax(100px, 1fr);

  .item {
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid aqua;
  }
}

.case-8 {
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns: 100px auto 100px;

  .item {
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid aqua;
  }
}

.case-9 {
  width: 300px;
  height: 300px;
  display: grid;
  border: 1px solid greenyellow;

  grid-template-columns: 1fr 1fr 1fr;
  //grid-row-gap: 10px;
  //grid-column-gap: 10px;
  //grid-gap: 10px ;
  //row-gap: 10px;
  //column-gap: 10px;
  gap: 10px;

  .item {
    box-sizing: border-box;

    border: 1px solid aqua;
  }
}

.case-10 {
  //width: 300px;
  //height: 300px;
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;;
  grid-auto-flow: row;

  .item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item {
    box-sizing: border-box;
    border: 1px solid aqua;
  }
}

.case-11 {
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;;
  grid-auto-flow: row dense;

  .item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item {
    box-sizing: border-box;
    border: 1px solid aqua;
  }
}

.case-12 {
  display: grid;
  border: 1px solid greenyellow;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;;
  grid-auto-flow: column dense;

  .item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item {
    box-sizing: border-box;
    border: 1px solid aqua;
  }
}

.case-13 {
  display: grid;
  height: 500px;
  border: 1px solid greenyellow;
  justify-content: center;
  align-content: center;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;;
  grid-auto-flow: row;

  .item {
    box-sizing: border-box;
    border: 1px solid aqua;
  }
}

.case-14 {
  display: grid;
  height: 500px;
  border: 1px solid greenyellow;
  //place-items: center center;
  place-content: center center;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;;
  grid-auto-flow: row;

  .item {
    box-sizing: border-box;
    border: 1px solid aqua;
  }
}
.case-15 {
  display: grid;
  height: 500px;
  border: 1px solid greenyellow;
  //place-items: center center;
  //place-content: center center;
  justify-items: stretch;
  align-items: end;

  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;;
  grid-auto-flow: row;

  .item {
    box-sizing: border-box;
    border: 1px solid aqua;
  }
}