.echarts-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;


  .echarts-records {
    display: flex;
  }

  .echarts-picture {
    display: flex;
    gap: 20px;
    .bar-1 {
      width: 400px;
      height: 300px;
    }
  }
}

.echarts-node {
  margin: 20px;
}