
.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 46px 1fr;

  .layout-head {
    padding: 10px;
    box-sizing: border-box;

    .layout-tag {
      cursor: pointer;
      color: #fff;
      margin-left: 10px;
      border-radius: 3px;
      padding: 2px 8px;

    }
  }

  .layout-content {

  }
}

